.pagination{
	text-align:center;
}
.pagination em::selection, .pagination a::selection, .pagination b::selection{
	background-color:transparent;
}
.pagination em, .pagination a{
	margin-right:8px;
	padding:4px 8px;
	background-color:rgb(255, 255, 255);
	border:1px solid rgba(0, 0, 0, .5);
	border-radius:2px;
	font-size:14px;
	font-style:normal;
	font-family:monospace;
	line-height:1;
	color:rgba(0, 0, 0, .6);
	cursor:pointer;
	transition:background-color, color .25s;
}
.pagination em.current, .pagination em:hover, .pagination a:hover{
	padding:5px 9px;
	color:rgb(255, 255, 255);
	background-color:rgb(0, 128, 255);
	border:none;
}
.pagination b{
	margin-right:8px;
	vertical-align:top;
	font-size:14px;
	line-height:1;
}